.tickets-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.tickets-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}


.tickets-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}


.ticket-item {
    background-color: white;
    padding: 20px;  /* Ensure proper padding */
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is evenly spaced */
    gap: 10px; /* Reduces awkward gaps */
}

.ticket-item h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.ticket-theater {
    font-size: 14px;
    color: #374151;
    margin-bottom: .5px; 
}

.ticket-date-and-time {
    font-size: 14px;
    color: #374151;
    margin-bottom: .5px; 
}
.ticket-seats{
    font-size: 14px;
    color: #374151;
}
.view-ticket-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: #407599;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    margin-top: auto; 
}

.view-ticket-btn:hover {
    background-color: #1d4ed8;
}
